# Ignorer les fichiers de données volumineux
/data/raw/*
/data/processed/*

# Ignorer les notebooks Jupyter checkpoints
.ipynb_checkpoints/

# Ignorer les fichiers Python compilés
*.pyc

# Ignorer les fichiers temporaires
*.log